*.rb~
public/assets
public/swagger.json
bin
log/*
bundle
.gem
.bundle_gem
config/database.yml
config/pkgr.yml
debian/files
debian/yeti-web
debian/*.debhelper
debian/*.substvars
debian/*.log
version.yml
tmp
.idea
.kdev4
/.rvmrc
pgq-processors/.rspec_status
