*.rb~
public/assets
swagger/yeti.json
bin
log/*
.bundle
vendor/bundle
vendor/bundler
.byebug_history
config/database.yml
config/pkgr.yml
config/active_admin.yml
debian/files
debian/yeti-web
debian/*.debhelper
debian/*.substvars
debian/*.log
version.yml
tmp
.idea
.kdev4
.vscode
/.rvmrc
pgq-processors/bin
pgq-processors/vendor/bundle
pgq-processors/vendor/bundler
.versions.conf
pgq-processors/.rspec_status
