.ui-dialog.active_admin_dialog_mass_update_by_filter {
  width: auto!important;
  form ul li {
    line-height: 30px;

    label, select, input{
      display: inline-block;
    }
    select, input:not([type='checkbox']){
      float: right;
      width: 235px;
    }
    select{
      width: 255px;
    }
  }
}

button.scoped_collection_action_button {
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  @include rounded($skinBorderRadius);
  background-color: $skinMainSecondColor;
  border: none;
  color: #ffffff;
  font-weight: 600;
  &:hover {
    background-color: lighten( $skinMainSecondColor, 5% )!important;
    background-image: none;
  }
}
