@font-face {
  font-family: 'dotsfont';
  src: font-url('dotsfont.eot');
  src: font-url('dotsfont.eot?#iefix') format('embedded-opentype'),
       font-url('dotsfont.woff') format('woff'),
       font-url('dotsfont.ttf') format('truetype'),
       font-url('dotsfont.svg#dotsfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html body .dotsfont {
  font-family: 'dotsfont';
}

