//pagination
#index_footer .pagination_per_page {
  float: left;
}

#index_footer .pagination, #index_footer .pagination_information {
  float: left;
}

#index_top .pagination_per_page {
  float: left;
}

#index_top .pagination, #index_top .pagination_information {
  float: left;
}

.pagination_top {
  float: left;
  margin: 5px;
  clear: none;
}


.download_links {
  clear: right;
  padding-left: 10px;
}
//end pagination