//pagination
#index_footer .pagination_per_page {
  float: left;
}

#index_footer .pagination, #index_footer .pagination_information {
  float: left;
}

.download_links {
  clear: right;
  padding-left: 10px;
}
//end pagination