.password-mask {

  // In Show
  .password-toggle-inline {
    display: inline-block;
    margin: auto 0 auto 15px;

    span {
      cursor: pointer;
      color: #8494a8;

      &:hover {
        color: #323537;
      }
    }

    span:before {
      content: 'hide';
    }
  }

  .dotsfont + .password-toggle-inline > span:before {
      content: 'show';
  }

  // in Form

  .password-toggle {
    width: 94%;
    margin: -20px 10px 20px auto;
    position: relative;
    z-index: 5;

    span {
      float: right;
      cursor: pointer;
      color: #8494a8;

      &:hover {
        color: #323537;
      }
    }
  }

  input + .password-toggle > span:before {
      content: "Hide";
  }

  input.dotsfont + .password-toggle > span:before {
    content: "Show";
  }

}
