#wrapper {

  table.tablesorter {
    th.tablesorter-headerAsc {
      background-color: #9fbfdf;
      background-repeat: no-repeat;
      background-position: right center;
      /* black asc arrow */
      background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);

    }
    th.tablesorter-headerDesc {
      background-color: #8cb3d9;
      background-position: right center;
      /* black desc arrow */
      background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
      background-repeat: no-repeat;

    }
  }
}

