body.active_admin.show.cdrs > #wrapper {
  display: table;
  div.columns {
    div.column {
      padding-left: 10px;
      margin-right: 0px !important;
    }
  }
}

.sidebar_section {
  .stats_table table {
    th {
      width: 50%;
    }
    tr{
      width: 50%;
    }
  }



  .report_sidebar_info table {
    th {
      width: 50%;
    }
    tr{
      width: 50%;
    }
  }
}


//table
body.active_admin #main_content {

  .panel_contents table {
    margin-top: 0px;
    white-space: nowrap;
  }

  tfoot tr {
    background-color: #e6e9ee;
  }

  table.index_table {

    td, th {
      white-space: nowrap;
      padding: 4px 7px 4px
    }

    tr.selected td {
      background: #CBE2F7;
    }

    tr td.selected {
      background: #CBE2F7;
    }

    th.editable_column a {
      color: #2E86CC;
    }

  }
}


