<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#active-calls-charts']").on("click", function () {
      $.getJSON("/remote_stats/<%= params[:id] %>/account_active_calls.json", function (json) {
        Charts.renderLine('account-chart', json, {
          placeholderId: 'chart-placeholder-account',
          yAxisLabel: 'Active Calls',
          yTickPrecision: 'integer'
        });
      });
    });
  });
</script>
<div id="chart-placeholder-account" class="chart-placeholder chart-container">
  <canvas id="account-chart" class="stat-chart"></canvas>
</div>
