<script type="text/javascript">
  $(document).ready(function () {
    $(".tabs [data-tab-target='#active-calls-charts']").on("click", function () {
      Charts.renderRanged({
        url: "/remote_stats/<%= params[:id] %>/account_active_calls.json",
        canvasId: 'account-chart',
        placeholderId: 'chart-placeholder-account',
        type: 'line',
        chartOpts: { yAxisLabel: 'Active Calls', yTickPrecision: 'integer' }
      });
    });
  });
</script>
<div id="chart-placeholder-account" class="chart-placeholder chart-container">
  <canvas id="account-chart" class="stat-chart"></canvas>
</div>
