<!--  activecalls  -->
<script type="text/javascript">
    var $active_calls_loader;
    $active_calls_loader = function () {

        $.getJSON("/remote_stats/<%=path %>.json", function (json) {

            var colors = d3.scale.category20();
            var keyColor = function (d, i) {
                return colors(d.key)
            };
            var chart;
            var formatter = d3.time.format("%Y-%m-%d %H:%M:%S");
            nv.addGraph(function () {
                chart = nv.models.stackedAreaChart()
                        .useInteractiveGuideline(true)
                        .x(function (d) {
                            return formatter.parse(d[0]);
                        })
                        .y(function (d) {
                            return d[1];
                        })
                        .controlLabels({stacked: "Stacked"})
                        .color(keyColor)
                        .duration(300);
                chart.xAxis
                        .tickFormat(function (d) {
                            return d3.time.format('%X')(new Date(d));
                        });

                chart.yAxis.tickFormat(d3.format(',.2f'));
                d3.select('#nodes-chart')
                        .datum(json)
                        .transition().duration(1000)
                        .call(chart);
                jQuery("#chart-placeholder-nodes").removeClass("chart-placeholder");
                nv.utils.windowResize(chart.update);
                return chart;
            });

        });
    };

    $(document).ready(function () {


        $active_calls_loader();

        setInterval(function () {
            jQuery("#nodes-chart").empty();
            jQuery("#chart-placeholder-nodes").addClass("chart-placeholder");
            $active_calls_loader();
        }, 60000);

    });
</script>
<div id="chart-placeholder-nodes" class="chart-placeholder chart-container">
  <svg id="nodes-chart" class="stat-chart"></svg>
</div>



