<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#active-calls-charts']").on("click", function () {
      $.getJSON("/remote_stats/<%= params[:id] %>/aggregated_customer_account.json", function (json) {
        Charts.renderLine('agg-customer-account-chart', json, {
          placeholderId: 'agg-chart-placeholder-customer-account',
          yAxisLabel: 'Calls count',
          yTickPrecision: 'integer'
        });
      });
    });
  });
</script>
<div id="agg-chart-placeholder-customer-account" class="chart-placeholder chart-container">
  <canvas id="agg-customer-account-chart" class="stat-chart"></canvas>
</div>
