<div id="chart-placeholder-customer-profit"
     class="chart-placeholder js-chart"
     data-chart-render="grouped-bar"
     data-chart-tab="#profitability"
     data-chart-url="/remote_stats/<%= params[:id] %>/customers_traffic.json"
     data-chart-canvas="customer-profit-chart"
     data-chart-y-label="Amount">
  <canvas id="customer-profit-chart" class="stat-chart"></canvas>
</div>
