<div id="chart-placeholder-account"
     class="chart-placeholder chart-container js-chart"
     data-chart-render="bar"
     data-chart-tab="#termination-chart"
     data-chart-url="/remote_stats/<%= params[:id] %>/dialpeer_pdd_distribution.json"
     data-chart-canvas="dialpeer-pdd-chart"
     data-chart-x-label="PDD (seconds)"
     data-chart-y-label="Count"
     data-chart-x-scale="category"
     data-chart-y-precision="integer">
  <canvas id="dialpeer-pdd-chart" class="stat-chart"></canvas>
</div>
