<script type="text/javascript">
  $(document).ready(function () {
    $(".tabs [data-tab-target='#calls-duration']").on("click", function () {
      $.getJSON("/remote_stats/duration.json", function (json) {
        json[0].values = json[0].values.map(function (p) {
          return { x: p.x, y: parseFloat(p.y) / 60.0 };
        });
        Charts.renderBar('duration-chart', json, {
          placeholderId: 'chart-placeholder-duration',
          yAxisLabel: 'Duration (min)'
        });
      });
    });
  });
</script>
<div id="chart-placeholder-duration" class="chart-placeholder chart-container">
  <canvas id="duration-chart" class="stat-chart"></canvas>
</div>
