<div id="chart-placeholder-duration"
     class="chart-placeholder chart-container js-chart"
     data-chart-render="bar"
     data-chart-tab="#calls-duration"
     data-chart-url="/remote_stats/duration.json"
     data-chart-canvas="duration-chart"
     data-chart-y-label="Duration (min)"
     data-chart-transform="durationSeconds">
  <canvas id="duration-chart" class="stat-chart"></canvas>
</div>
