<script type="text/javascript">
  $(document).ready(function () {
    $(".tabs [data-tab-target='#charts']").on("click", function () {
      $.getJSON("/remote_stats/<%= params[:id] %>/gateway_pdd_distribution.json", function (json) {
        Charts.renderBar('gateway-pdd-chart', json, {
          placeholderId: 'chart-placeholder-gateway-pdd',
          xAxisLabel: 'PDD (seconds)',
          yAxisLabel: 'Count',
          xScale: 'category',
          yTickPrecision: 'integer'
        });
      });
    });
  });
</script>
<div id="chart-placeholder-gateway-pdd" class="chart-placeholder chart-container">
  <canvas id="gateway-pdd-chart" class="stat-chart"></canvas>
</div>
