<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#active-calls-chart']").on("click", function () {
      $.getJSON("/remote_stats/<%= params[:id] %>/node.json", function (json) {
        Charts.renderLine('node-chart', json, {
          placeholderId: 'chart-placeholder-node',
          yAxisLabel: 'Active Calls',
          yTickPrecision: 'integer'
        });
      });
    });
  });
</script>
<div id="chart-placeholder-node" class="chart-placeholder chart-container">
  <canvas id="node-chart" class="stat-chart"></canvas>
</div>
