<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#<%= href %>']").on("click", function () {
      $.getJSON("/remote_stats/<%= path %>.json", function (json) {
        Charts.renderStackedArea('nodes-chart', json, {
          placeholderId: 'chart-placeholder-nodes',
          yTickPrecision: 'integer'
        });
      });
    });
    $("div.tabs a[href='#<%= href %>']").trigger('click');
  });
</script>
<div id="chart-placeholder-nodes" class="chart-placeholder chart-container">
  <canvas id="nodes-chart" class="stat-chart"></canvas>
</div>
