<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#active-calls-chart']").on("click", function () {
      Charts.renderRanged({
        url: "/remote_stats/<%= params[:id] %>/node.json",
        canvasId: 'node-chart',
        placeholderId: 'chart-placeholder-node',
        type: 'line',
        chartOpts: { yAxisLabel: 'Active Calls', yTickPrecision: 'integer' }
      });
    });
  });
</script>
<div id="chart-placeholder-node" class="chart-placeholder chart-container">
  <canvas id="node-chart" class="stat-chart"></canvas>
</div>
