<div id="chart-placeholder-nodes"
     class="chart-placeholder chart-container js-chart"
     data-chart-render="ranged"
     data-chart-tab="#<%= href %>"
     data-chart-url="/remote_stats/<%= path %>.json"
     data-chart-canvas="nodes-chart"
     data-chart-type="stackedArea"
     data-chart-y-precision="integer"
     data-chart-auto-trigger="true">
  <canvas id="nodes-chart" class="stat-chart"></canvas>
</div>
