<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#active-calls-chart']").on("click", function () {
      $.getJSON("/remote_stats/<%= params[:id] %>/aggregated_node.json", function (json) {
        Charts.renderLine('node-chart-agg', json, {
          placeholderId: 'chart-placeholder-node-agg',
          yAxisLabel: 'Calls count'
        });
      });
    });
  });
</script>
<div id="chart-placeholder-node-agg" class="chart-placeholder chart-container">
  <canvas id="node-chart-agg" class="stat-chart"></canvas>
</div>
