<script type="text/javascript">
  $(document).ready(function () {
    $(".tabs [data-tab-target='#charts']").on("click", function () {
      Charts.renderRanged({
        url: "/remote_stats/<%= params[:id] %>/orig_gateway.json",
        canvasId: 'orig-gw-chart',
        placeholderId: 'chart-placeholder-orig-gw',
        type: 'line',
        chartOpts: { yAxisLabel: 'Active Calls', yTickPrecision: 'integer' }
      });
    });
  });
</script>
<div id="chart-placeholder-orig-gw" class="chart-placeholder chart-container">
  <canvas id="orig-gw-chart" class="stat-chart"></canvas>
</div>
