<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#origination-chart']").on("click", function () {
      $.getJSON("/remote_stats/<%= params[:id] %>/orig_gateway.json", function (json) {
        Charts.renderLine('orig-gw-chart', json, {
          placeholderId: 'chart-placeholder-orig-gw',
          yAxisLabel: 'Active Calls',
          yTickPrecision: 'integer'
        });
      });
    });
  });
</script>
<div id="chart-placeholder-orig-gw" class="chart-placeholder chart-container">
  <canvas id="orig-gw-chart" class="stat-chart"></canvas>
</div>
