<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#profitability']").on("click", function () {
      $.getJSON("/remote_stats/profit.json", function (json) {
        Charts.renderBar('profit-chart', json, {
          placeholderId: 'chart-placeholder-profit',
          yAxisLabel: 'Profit',
          colorBy: 'sign'
        });
      });
    });
  });
</script>
<div id="chart-placeholder-profit" class="chart-placeholder chart-container">
  <canvas id="profit-chart" class="stat-chart"></canvas>
</div>
