<div id="chart-placeholder-profit"
     class="chart-placeholder chart-container js-chart"
     data-chart-render="bar"
     data-chart-tab="#profitability"
     data-chart-url="/remote_stats/profit.json"
     data-chart-canvas="profit-chart"
     data-chart-y-label="Profit"
     data-chart-color-by="sign">
  <canvas id="profit-chart" class="stat-chart"></canvas>
</div>
