<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#termination-chart']").on("click", function () {
      $.getJSON("/remote_stats/<%= params[:id] %>/term_gateway.json", function (json) {
        Charts.renderLine('term-gw-chart', json, {
          placeholderId: 'chart-placeholder-term-gw',
          yAxisLabel: 'Active Calls',
          yTickPrecision: 'integer'
        });
      });
    });
  });
</script>
<div id="chart-placeholder-term-gw" class="chart-placeholder chart-container">
  <canvas id="term-gw-chart" class="stat-chart"></canvas>
</div>
