<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#termination-chart']").on("click", function () {
      $.getJSON("/remote_stats/<%= params[:id] %>/aggregated_term_gateway.json", function (json) {
        Charts.renderLine('agg-term-gw-chart', json, {
          placeholderId: 'agg-chart-placeholder-term-gw',
          yAxisLabel: 'Calls count'
        });
      });
    });
  });
</script>
<div id="agg-chart-placeholder-term-gw" class="chart-placeholder chart-container">
  <canvas id="agg-term-gw-chart" class="stat-chart"></canvas>
</div>
