<!-- gateway  -->
<script type="text/javascript">


    $(document).ready(function () {

        $("div.tabs a[href='#termination-chart']").on("click", function () {

                $.getJSON("/remote_stats/<%=params[:id]%>/term_gateway.json", function (json) {
                    var chart;
                    var formatter = d3.time.format("%Y-%m-%d %H:%M:%S");
                    nv.addGraph(function () {
                        chart = nv.models.lineChart()
                                .options({
                                    transitionDuration: 300,
                                    useInteractiveGuideline: true
                                })
                                .x(function (d) {
                                              return  formatter.parse(d.x); //d[0];
                                          });


                        chart.xAxis
                                .axisLabel("Time")
                                .tickFormat(function (d) {
                                    return d3.time.format('%X')(new Date(d));
                                 });

//                                .tickFormat(function (d) {
//                                    return d3.time.format.utc('%X')(new Date(d))
//                                });

                        chart.yAxis
                                .axisLabel('Active Calls')
                                .tickFormat(d3.format('d'));

                        d3.select('#term-gw-chart')
                                .datum(json)
                                .call(chart);
                        jQuery("#chart-placeholder-term-gw").removeClass("chart-placeholder");
                        nv.utils.windowResize(chart.update);

                        return chart;
                    });
                });


        });


    });

</script>
<div id="chart-placeholder-term-gw" class="chart-placeholder  chart-container">
  <svg id="term-gw-chart" class="stat-chart"></svg>
</div>




