<!-- account  -->
<script type="text/javascript">

    $(document).ready(function () {
        $("div.tabs a[href='#profitability']").on("click", function () {

            $.getJSON("/remote_stats/<%=params[:id]%>/vendors_traffic.json", function (json) {


                var chart;
                var formatter = d3.time.format("%Y-%m-%d %H:%M:%S");

                nv.addGraph(function () {
                    chart = nv.models.multiBarChart()
                            .x(function (d) {
                                                                       return formatter.parse(d.x);
                                                                   });

                    chart.xAxis.rotateLabels(-45);
                    chart.xAxis
                            .axisLabel("Time")
//                            .tickFormat(function (d) {
//                                return d3.time.format.utc('%X')(new Date(d))
//                            });
                            .tickFormat(function (d) {
                                return d3.time.format('%X')(new Date(d));


                            });
                    chart.yAxis
                            .axisLabel('Amount')
                            .tickFormat(d3.format(',.6f'));

                    ymin = d3.min(json[0].values.map(function (p) {
                        return p.y
                    }));
//
//

                    chart.forceY(ymin);

                    d3.select('#vendor-profit-chart')
                            .datum(json)
                            .call(chart);
                    jQuery("#chart-placeholder-vendor-profit").removeClass("chart-placeholder");
                    nv.utils.windowResize(chart.update);
                    return chart;
                });

            });

        });
    });

</script>
<div id="chart-placeholder-vendor-profit" class="chart-placeholder  chart-container">
  <svg id="vendor-profit-chart" class="stat-chart"></svg>
</div>


