<script type="text/javascript">
  $(document).ready(function () {
    $("div.tabs a[href='#active-calls-charts']").on("click", function () {
      $.getJSON("/remote_stats/<%= params[:id] %>/aggregated_vendor_account.json", function (json) {
        Charts.renderLine('agg-vendor-account-chart', json, {
          placeholderId: 'agg-chart-placeholder-vendor-account',
          yAxisLabel: 'Calls count'
        });
      });
    });
  });
</script>
<div id="agg-chart-placeholder-vendor-account" class="chart-placeholder chart-container">
  <canvas id="agg-vendor-account-chart" class="stat-chart"></canvas>
</div>
