Source: yeti-web
Maintainer: yeti team <dev@yeti-switch.org>
Section: net
Priority: optional
Standards-Version: 4.4.0
Build-Depends:
  debhelper-compat (= 12),
  devscripts,
  ca-certificates,
  fakeroot,
  zlib1g-dev,
  libpq-dev,
  postgresql-client-18,
  lsb-release,
  libdistro-info-perl,
  git,
  curl,
  rbenv,
  ruby-build,
  openssl,
  libssl-dev,
  bison,
  libyaml-dev,
  libreadline6-dev,
  libncurses5-dev,
  libffi-dev,
  libgdbm6,
  libgdbm-dev,
  libdb-dev,

Package: yeti-web
Section: net
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, rbenv, postgresql-client-18
Pre-Depends: adduser, procps
Description: UI for YETI project
	YETI user interface

