#!/usr/bin/make -f

extra_services=yeti-cdr-billing yeti-cdr-billing\@ yeti-delayed-job yeti-libreoffice-headless yeti-prometheus yeti-libreoffice-headless

%:
	dh $@ --no-parallel

override_dh_installinit:
	for s in ${extra_services}; do dh_installinit --name=$$s; done
	dh_installinit

# avoid building debug symbols from so files in gems
override_dh_strip:
override_dh_strip_nondeterminism:

# we do not want to generate shlibs file
override_dh_makeshlibs:

#don't run tests automatically
override_dh_auto_test:
