[Unit]
Description=YETI system web interface
Documentation=https://yeti-switch.org/docs/

[Install]
WantedBy=multi-user.target

[Service]
User=yeti-web
Group=yeti-web
LimitNOFILE=65536
LimitCORE=infinity

Environment=RAILS_ENV=production
Environment=RACK_ENV=production
Environment=RAKE_ENV=production
Environment=BUNDLE_GEMFILE=/opt/yeti-web/Gemfile
Environment=GEM_PATH=/opt/yeti-web/vendor/bundler

RuntimeDirectory=yeti
ExecStart=/usr/bin/ruby /opt/yeti-web/vendor/bundler/bin/bundle exec unicorn -D -c /opt/yeti-web/config/unicorn.rb -E production
PIDFile=/run/yeti/yeti-web-unicorn.pid
Type=forking
Restart=on-abnormal
