[Unit]
Description=YETI system document converter
Documentation=https://yeti-switch.org/docs/

[Install]
WantedBy=multi-user.target

[Service]
User=yeti-web
Group=yeti-web
LimitNOFILE=65536
LimitCORE=infinity
RuntimeDirectory=yeti-libreoffice-headless

ExecStart=/opt/unoserver/bin/unoserver

Type=simple
Restart=always
RestartSec=30s

