[Unit]
Description=YETI PGQ CDR processor: %i
Documentation=https://yeti-switch.org/docs/

ConditionPathExists=/opt/yeti-web/config/cdr_processors.yml

[Install]
WantedBy=multi-user.target

[Service]
User=yeti-web
Group=yeti-web
LimitNOFILE=65536
LimitCORE=infinity

Environment=RBENV_ROOT=/opt/yeti-web/vendor/rbenv
Environment=PATH=/opt/yeti-web/vendor/rbenv/shims:/usr/bin:/opt/yeti-web/vendor/bundler/bin:/bin
Environment=RAILS_ENV=production
Environment=BUNDLE_GEMFILE=/opt/yeti-web/Gemfile
Environment=GEM_PATH=/opt/yeti-web/vendor/bundler

WorkingDirectory=/opt/yeti-web
ExecStart=/opt/yeti-web/vendor/rbenv/shims/ruby \
	/opt/yeti-web/vendor/bundler/bin/bundle exec \
	bin/cdr_processor \
	%i \
	/opt/yeti-web/config/cdr_processors.yml

SyslogIdentifier=yeti-cdr-processor@%i
Type=simple
Restart=always
RestartSec=30s
