@import "tom-select-rails/scss/tom-select";


.formtastic .ts-wrapper {
  display: inline-block;
}

.tom_select .ts-control {
  width: 220px;
}

.ts-wrapper.plugin-remove_button .item .remove:hover {
  background-color: transparent;
}

.ts-wrapper.multi .ts-control > div {
  border: none;
}

.ts-wrapper.multi .ts-control [data-value] {
  text-shadow: none;
  box-shadow: none;
  background: #5fa3d2 none, none;
}
