name: Release process

on:
  release:
    types: [ published ]

jobs:
  deb10:
    name: Debian 10 release package building
    runs-on: ubuntu-latest
    container: ghcr.io/yeti-switch/yeti-web/build-image:buster
    services:
      db:
        image: ghcr.io/yeti-switch/yeti-web/pgsql:13

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build package
        run: make package
        env:
          YETI_DB_HOST: db
          YETI_DB_PORT: 5432
          CDR_DB_HOST: db
          CDR_DB_PORT: 5432

      - name: Save deb package as artifact
        uses: actions/upload-artifact@v2
        with:
          name: deb10-package
          path: /__w/yeti-web/*.deb

      - name: Upload package to ${{github.ref}} repo
        env:
          PKG_API_BASE: ${{secrets.PKG_API_BASE}}
          PKG_TAG: ${{github.ref}} 
        run: v=${PKG_TAG##*/};major_version=${v%\.[0-9]*};ci/deploy.sh buster $major_version main ../*.deb

#      - name: Create Sentry Release
#        uses: getsentry/action-release@v1
#        env:
#          SENTRY_URL: ${{secrets.SENTRY_URL}}
#          SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
#          SENTRY_ORG: ${{secrets.SENTRY_ORG}}
#          SENTRY_PROJECT:  ${{secrets.SENTRY_PROJECT}}
#        with:
#          version: ${{github.ref}}

  deb11:
    name: Debian 11 release package building
    runs-on: ubuntu-latest
    container: ghcr.io/yeti-switch/yeti-web/build-image:bullseye
    services:
      db:
        image: ghcr.io/yeti-switch/yeti-web/pgsql:13

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build package
        run: make package
        env:
          YETI_DB_HOST: db
          YETI_DB_PORT: 5432
          CDR_DB_HOST: db
          CDR_DB_PORT: 5432

      - name: Save deb package as artifact
        uses: actions/upload-artifact@v2
        with:
          name: deb11-package
          path: /__w/yeti-web/*.deb

      - name: Upload package to ${{github.ref}} repo
        env:
          PKG_API_BASE: ${{secrets.PKG_API_BASE}}
          PKG_TAG: ${{github.ref}} 
        run: v=${PKG_TAG##*/};major_version=${v%\.[0-9]*};ci/deploy.sh bullseye $major_version main ../*.deb

#      - name: Create Sentry Release
#        uses: getsentry/action-release@v1
#        env:
#          SENTRY_URL: ${{secrets.SENTRY_URL}}
#          SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
#          SENTRY_ORG: ${{secrets.SENTRY_ORG}}
#          SENTRY_PROJECT:  ${{secrets.SENTRY_PROJECT}}
#        with:
#          version: ${{github.ref}}



  deb11_container:
    name: Debian 11 release container
    needs: deb11
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Download a single artifact
        uses: actions/download-artifact@v2
        with:
          name: deb11-package

      - name: Display structure of downloaded files
        run: ls -la

      - name: Display path
        run: pwd

      - name: Calculate version from ${{github.ref}}
        env:
          PKG_TAG: ${{github.ref}}
        shell: bash
        run: echo "##[set-output name=tag;]$(echo ${PKG_TAG#refs/tags/})"
        id: extract_tag

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GHCR
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ci/stable-package.Dockerfile
          push: true
          tags: ghcr.io/yeti-switch/yeti-web:${{steps.extract_tag.outputs.tag}}

